---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Articles from "@/components/Articles.astro";
import Contact from "@/components/Contact.mdx";
import Education from "@/components/Education.mdx";
import HarryHKim from "@/components/HarryHKim.mdx";
---

<BaseLayout title="Home">
  <h1>Harry H. Kim</h1>
  <HarryHKim />
  <br />
  <h1 id="projects">Projects</h1>
  <Articles collection="projects" />
  <br />
  <h1 id="education">Education</h1>
  <Education />
  <br />
  <h1 id="contact">Contact</h1>
  <Contact />
</BaseLayout>
