---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Articles from "@/components/Articles.astro";
import Contact from "@/components/Contact.mdx";
import Education from "@/components/Education.mdx";
---

<BaseLayout title="Home">
  <h1 id="harry">Harry H. Kim</h1>
  <p>
    Harry H. Kim (Hunhoe Kim / 김훈회) is a Software Engineer with 5 years of
    experience, passionate about web and cloud technologies. His software
    engineering journey began with the allure of 3D game development. After
    gaining multi-platform development experience, he now enjoys building robust
    backend systems.
  </p>
  <h1 id="blog">Blog</h1>
  <Articles collection="posts" />
  <h1 id="projects">Projects</h1>
  <Articles collection="projects" />
  <h1 id="education">Education</h1>
  <Education />
  <h1 id="contact">Contact</h1>
  <Contact />
</BaseLayout>
