---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
const sortedPosts = allPosts.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
---

<BaseLayout title="Blog">
  <section>
    {
      sortedPosts.map((post) => (
        <>
          <article>
            <h2>{post.data.title}</h2>
            <p>
              <small>
                {post.data.pubDate.toLocaleDateString(undefined, {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })}
              </small>
            </p>
            <h3>{post.data.description}</h3>
            <a href={`/posts/${post.id}`}>Read More</a>
          </article>
          <hr />
        </>
      ))
    }
  </section>
</BaseLayout>

<style>
  section {
    margin-top: 20px;
  }

  h2 {
    margin: auto;
  }

  p {
    margin: auto;
  }

  h3 {
    margin: auto;
  }

  hr {
    border: none;
    border-top: 1px solid rgba(200, 200, 200, 0.3);
  }
</style>
