---
import type { DataEntryMap } from "astro:content";
import { getCollection } from "astro:content";

type Props = {
  collection: keyof DataEntryMap;
};

const { collection } = Astro.props;

const articles = (await getCollection(collection)).sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);
---

<section>
  {
    articles.map((x) => (
      <article>
        <a
          href={`/${collection}/${x.id}`}
          class="block no-underline hover:underline"
        >
          <h2 class="m-auto">{x.data.title}</h2>
          <p class="m-auto text-right text-sm">
            {x.data.pubDate.toLocaleDateString(undefined, {
              year: "numeric",
              month: "long",
              day: "numeric",
            })}
          </p>
          <p class=m-auto">{x.data.description || ""}</p>
        </a>
      </article>
    ))
  }
</section>
