---
import type { DataEntryMap } from "astro:content";
import { getCollection } from "astro:content";

type Props = {
  collection: keyof DataEntryMap;
};

const { collection } = Astro.props;

const articles = (await getCollection(collection)).sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);
---

<section>
  {
    articles.map((x) => (
      <>
        <article>
          <a href={`/${collection}/${x.id}`} class="block no-underline">
            <h3>{x.data.title}</h3>
            <p>
              <small>
                {x.data.pubDate.toLocaleDateString(undefined, {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })}
              </small>
            </p>
            {x.data.description ? <p>{x.data.description}</p> : null}
          </a>
        </article>
        <br />
      </>
    ))
  }
</section>

<style>
  article:hover h3 {
    text-decoration-line: underline;
  }
</style>
