---

---

<header>
  <nav>
    <a href="/">Home</a>
    <a href="/#blog">Blog</a>
    <a href="/#projects">Projects</a>
    <a href="/#education">Education</a>
    <a href="/#contact">Contact</a>
  </nav>
</header>

<style>
  nav a {
    margin-right: 10px;
  }

  nav a:last-child {
    margin-right: 0;
  }

  nav a:hover {
    text-decoration: underline;
  }
</style>
