---
type Props = {
  chart: string;
};

const { chart } = Astro.props;
---

<pre class="mermaid hidden">{chart}</pre>
<p class="mermaid-loading contents">Loading...</p>

<script>
  import mermaid from "mermaid";
  import awsIcons from "@/icons/aws.json";
  import googleCloudIcons from "@/icons/google-cloud.json";
  import supabaseIcons from "@/icons/supabase.json";
  import withsyIcons from "@/icons/withsy.json";

  mermaid.initialize({ startOnLoad: true });
  mermaid.registerIconPacks([
    {
      name: awsIcons.prefix,
      icons: awsIcons,
    },
    {
      name: googleCloudIcons.prefix,
      icons: googleCloudIcons,
    },
    {
      name: supabaseIcons.prefix,
      icons: supabaseIcons,
    },
    {
      name: withsyIcons.prefix,
      icons: withsyIcons,
    },
  ]);

  document.querySelectorAll<HTMLElement>(".mermaid").forEach((x) => {
    x.style.display = "contents";
  });

  document.querySelectorAll<HTMLElement>(".mermaid-loading").forEach((x) => {
    x.style.display = "none";
  });
</script>
