---
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import { Font } from "astro:assets";
import Header from "@/components/Header.astro";
import "@/styles/global.css";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>
      {`${title} | Harry H. Kim`}
    </title>
    <Font cssVariable="--font-roboto" , preload />
    <Analytics />
    <SpeedInsights />
  </head>
  <body
    class="flex min-h-screen items-center justify-center bg-[#fdf6e3] font-(family-name:--font-roboto) text-base antialiased"
  >
    <div class="prose max-w-2xl">
      <Header />
      <main>
        <slot />
      </main>
      <footer></footer>
    </div>
  </body>
</html>
