---
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import Header from "@/components/Header.astro";
import "@/styles/global.css";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>
      {`${title} | Harry H. Kim`}
    </title>
    <Analytics />
    <SpeedInsights />
  </head>
  <body
    class="flex min-h-screen justify-center bg-[#fdf6e3] text-base antialiased"
  >
    <div class="prose w-2xl">
      <Header />
      <main>
        <slot />
      </main>
      <footer></footer>
    </div>
  </body>
</html>
