---
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";

type Props = {
  frontmatter: { title: string };
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {Astro.props.frontmatter.title || "Harry H. Kim | Software Engineer"}
    </title>
    <Analytics />
    <SpeedInsights />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Blog</a>
        <a href="/about">About</a>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>
